<%= render "shared/header" %>


<div class="user-main">
  <div class="user-info">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんのユーザーページ"%>
      </h2>
  </div>
  <div class="course-content">
    <div class="category-title" >
      <%= "#{@user.nickname}さんの講座"%>
    </div>
    <ul class='course-lists'>
      <%if @courses.length > 0%>
        <%= render partial: 'courses/course', collection: @courses%> 
      <% else %>
        <div class="not-course">
          <%= render "courses/dummy" %>
        </div>
      <% end %>
    </ul>
  </div>
</div>

<%= render "shared/footer" %>

