<%= render "shared/header" %>


<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さん"%>
      </h2>
      
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの講座"%>
      </h2>
      <div class="user__card">
        
         <%= render partial: 'courses/course', collection: @courses%> 
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>

