<%= render "shared/header" %>


<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.nickname}さん"%>
      </h2>
      
      <h2 class="page-heading">
        <%= "#{@user.nickname}さんの講座"%>
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿したプロトタイプ投稿一覧を表示する %>
        <%# <%= render partial: 'prototypes/prototype', collection: @prototypes%> %>
      </div>
    </div>
  </div>
</div>

<%= render "shared/footer" %>

