<%= render "shared/header" %>


<div class="main">
  <div class="user-info">
      <h2 class="page-heading">
        <%= "#{@user.nickname}"%>
      </h2>
      <div class="user-profile">
      <% if @user.profile.present? %>
        <%= @user.profile %>
      <% end %>
      </div>
      <div class="user-edit">
      <%if user_signed_in?%>
        <% if current_user.id == @user.id %> 
          <%= link_to "プロフィール編集", "/users/#{current_user.id}/edit", class: "user-edits" %>
        <% end %>
      <% end %>
      </div>
  </div>

  <%#開講した講座一覧%>
  <div class="course-content">
    <div class="category-title" >
      <%= "#{@user.nickname}さんの講座"%>
    </div>
    <ul class='course-lists'>
      <%if @courses.length > 0%>
        <%= render partial: 'courses/course', collection: @courses%> 
      <% else %>
        <div class="not-course">
          <%= render "courses/dummy" %>
        </div>
      <% end %>
    </ul>
  </div>
  <%#/開講した講座一覧%>

  <%#受講希望した講座一覧%>
  <%if user_signed_in?%>
    <%if current_user.id == @user.id  %>
    <div class="course-content">
      <div class="category-title" >
        受講希望している講座
      </div>
      <ul class='course-lists'>
        <%if current_user.orders.present?%>
          <%= render partial: 'courses/course', collection: @order_courses%> 
        <% else %>
          <div class="not-order">
            現在受講を希望している講座はありません
          </div>
        <% end %>
      </ul>
    </div>
    <% end %>
  <% end %>
  <%#/受講希望した講座一覧%>
</div>

<%= render "shared/footer" %>

