<header class='top-header'>
  <div class="app-title">
    <%= link_to image_tag("step-out.logo.png", class:"stepout-icon"), "/" %>
  </div>
  <div class='search-bar-contents'>
    <%= form_with(url: search_courses_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "キーワードから探す", class: "input-box" %>
      <%= form.submit class: "search-icon" %>
    <% end %>
  </div>
  <div class='log-status'>
    <ul class='log-lists'>
      <li><%= link_to "#{current_user.nickname} さん", "/users/#{current_user.id}", class: "user-nickname" %></li>
      <li><%= link_to '講座を開く', new_course_path, class: "course-up" %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %></li>
    </ul>
  </div>
</header>